<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.univaq.mobileprogramming.uniweather">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_policy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop">
        <receiver
            android:name=".utility.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".utility.ForecastService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:name=".activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.DetailsActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".activity.FavouriteCitiesActivity"/>
        <activity android:name=".activity.FiveDaysActivity"/>
        <activity android:name=".activity.MapsActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
    </application>

</manifest>